* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-weight: normal;
}

*, 
*::before, 
*::after {
   box-sizing: border-box;
}

body {
   font-family: var(--primary-font-family);
   font-size: var(--font-size-1);
   line-height: 1.5;
   color: var(--color-grey);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.container {
   height: calc(100vh - 40px);
   margin: 20px auto;
   background: var(--color-white);
}

.layout {
   display: grid;
   grid-template-rows: auto 1fr  1fr auto;
   grid-template-columns: 1fr 2fr;
   gap: var(--spacing-2);
   padding: var(--spacing-2);
   box-shadow: var(--box-shadow);
}

.layout .header,
.layout .sidebar, 
.layout .footer {
   background: var(--color-yellow);
   color: var(--color-grey);
}

.layout .box {
   display: flex;
   justify-content: center;
   align-items: center;
}

.layout .header {
   grid-column: 1 / span 2;
   grid-row: 1;
}

.layout .sidebar {
   grid-column: 1;
   grid-row: 2 / span 2;
}

.layout .main-content {
   grid-column: 2;
   grid-row: 2 / span 2;
   display: grid;
   gap: var(--spacing-2);
}

.main-content .section, .main-content .article {
   background: var(--color-yellow);
   color: var(--color-grey);
}

.layout .header, .layout footer {
   padding: var(--spacing-3);
}

.layout .footer {
   grid-column: 1 / span 2;
   grid-row: 4;
   margin-top: auto;
}

@media screen and (max-width: 768px) {
   .layout {
      grid-template-columns: 1fr;
      padding: var(--spacing-1);
      gap: var(--spacing-1);
   }
   .layout .header {
      grid-column: 1;
      grid-row: 1;
   }
   .layout .sidebar {
      grid-column: 1;
      grid-row: 2;
  }
  .layout .main-content {
      grid-column: 1;
      grid-row: 3; 
      gap: var(--spacing-1);
  }
  .layout .footer {
      grid-column: 1;
      grid-row: 4; 
  }
}